* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ============ Common ============ */
a {
    text-decoration: none;
}

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 98px;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    color: #fff;
    padding: 18px 16px;
    background-color: var(--primary-color);
    border-radius: 12px;
}

.btn:hover {
    opacity: 0.9;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* ============ Header ============ */
.header {
    position: relative;
    background-color: #e6f0ff;
    height: 100vh;
    padding-top: 38px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar .navigation {
    display: flex;
    margin-left: 50px;
}

.navbar .navigation li a {
    color: #4f5361;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 14px 15px;
}

.navbar .navigation li a:hover {
    color: var(--primary-color);
    text-decoration: overline solid var(--primary-color) 0.15rem;
}

.navbar .action {
    margin-left: auto;
}

.navbar .action .action-link {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
}

.navbar .action .action-btn {
    padding: 14px 16px;
    margin-left: 18px;
    border-radius: 8px;
}

.hero {
    margin-top: 40px;
}

.hero-info {
    margin-top: 130px;
    max-width: 50%;
}

.hero .sub-title {
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.188px;
}

.hero .title {
    margin-top: 8px;
    margin-bottom: 30px;
    color: #000336;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.18; /* 118.75% */
}

.hero .desc {
    color: #5a6473;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.77; /* 177.778% */
}

.hero-btn {
    margin-top: 40px;
    min-width: 170px;
}

.hero-img {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1110px) / 2 - 100px);
}

/* ============ Clients ============ */
.clients {
    margin-top: 79px;
    padding: 43px 0 41px;
}

.clients .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clients .clients-desc {
    margin-top: 23px;
    color: #7d8589;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
}

.clients .clients-img {
    margin-top: 70px;
}

.clients .clients-img a {
    display: flex;
    align-items: center;
    height: 90px;
    padding: 0 42px;
    border-radius: 12px;
}

.clients .clients-img a:hover {
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

/* ============ Guides ============ */

.guides {
    margin-top: 40px;
    padding: 79px 0;
    text-align: center;
}

.guides .title {
    position: relative;
    color: var(--primary-color);
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.guides .title::before {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 41px;
    height: 4px;
    display: inline-block;
    border-radius: 12px;
    background: var(--primary-color);
}

.guides .desc {
    width: 459px;
    max-width: 100%;
    margin: 20px auto 0;
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
}

.guides-list {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.guides-item {
    margin: 0 70px;
}

.guides-item h3 {
    margin: 26px 0 10px;
    color: #3b3c45;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1; /* 110% */
}

.guides-item a span {
    color: #0689ff;
    font-size: 1.4rem;
    font-weight: 600;
}

.guides-item a img {
    margin-left: 6px;
}

.guides-cta {
    margin-top: 50px;
}

.guides-cta .btn {
    width: 170px;
    min-width: 170px;
}

/* ============ Featured ============ */

.featured {
    margin-top: 40px;
    padding: 110px 0;
    background-color: #f5fafe;
}

.featured header .title {
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.featured header .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured header .desc {
    margin-top: 15px;
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
}

.featured header .link {
    display: flex;
    align-items: center;
}

.featured header .link span {
    margin-right: 8px;
    color: #0689ff;
    font-size: 1.8rem;
    font-weight: 600;
}

.featured .list {
    display: flex;
    margin-top: 70px;
    gap: 30px;
}

.featured .item {
    flex: 1;
    border-radius: 12px;
    background: #fff;
}

.featured .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.featured .item .info {
    padding: 17px 20px 24px;
}

.featured .item .title a {
    color: #000339;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5; /* 100% */
}

.featured .item .sub-title {
    margin-top: 11px;
    color: #a3a6ab;
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 500;
    word-break: break-all;
}

.featured .info .row {
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
}

.featured .sub-info {
    display: flex;
    align-items: center;
}

.featured .sub-info span {
    margin-left: 8px;
    color: #4d4d52;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    letter-spacing: 0.14px;
}

/* ============ Stats ============ */

.stats {
    padding: 50px 0;
}

.stats .content {
    width: 1048px;
    display: flex;
    align-items: center;
}

.stats-trend {
    position: absolute;
    top: 0;
    left: 0;
    width: 239px;
    padding: 45px 22px 50px;
    background: #fff;
    border-radius: 0px 0px 12px 12px;
    box-shadow: 90px 85px 100px 0px rgba(0, 0, 0, 0.06);
}

.stats-trend .trend-header {
    display: flex;
    justify-content: space-between;
}

.stats-trend .quantity {
    color: #000339;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1; /* 100% */
    letter-spacing: 0.26px;
}

.stats-trend .trend-desc {
    margin-top: 8px;
    color: #a7a7a7;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5; /* 150% */
}

.stats-trend .sperate {
    margin-top: 26px;
    height: 1.2px;
    background: #e9e9e9;
}

.stats-trend .trend-avt {
    margin-top: 26px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px 14px;
}

.stats-trend .avt-group {
    display: flex;
    align-items: center;
}

.stats-trend .avt-group .avt {
    width: 16px;
    height: 16px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    color: #fff;
    background-color: #000336;

    /* avt no image */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.72rem;
    font-weight: 450;
    letter-spacing: -0.145px;
}

.stats-trend .avt-group .avt:not(:first-child) {
    margin-left: -3px;
}

.stats-trend .avt-group .avt-no-image {
    background-color: var(--bg-color);
    filter: drop-shadow(4px 4px 16px rgba(0, 0, 0, 0.1));
}

.stats .img-group,
.stats .info {
    width: 50%;
}

.stats .img-group {
    position: relative;
}

.stats .stats-img {
    display: block;
    width: 400px;
    height: 460px;
    object-fit: cover;
    object-position: center;
    margin-left: auto;
    border-radius: 12px;
}

.stats .info {
    padding-left: 165px;
}

.stats .info .title {
    position: relative;
    width: 269px;
    margin-top: 14px;
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.28; /* 128.571% */
}

.stats .info .title::before {
    content: "";
    position: absolute;
    left: 0;
    top: -10px;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}

.stats .info .desc {
    width: 309px;
    margin-top: 20px;
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
}

.stats .countdown {
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
}

.stats .countdown .count {
    color: #000;
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.stats .countdown .desc {
    margin-top: 22px;
    color: #7b8087;
    font-size: 1.8rem;
    font-weight: 500;
}

/* ============ Stats ============ */
.subcription {
    margin-top: 50px;
    height: 409px;
    display: flex;
    align-items: flex-end;
}

.subcription .content {
    position: relative;
    height: 370px;
    padding: 0 80px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: #063183;
}

.subcription .info {
    margin-right: 90px;
}

.subcription .info .title {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.subcription .info .desc {
    color: #fff;
    margin: 15px 0 20px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
    opacity: 0.75;
}

.subcription .info .btn {
    width: 151px;
    min-width: 151px;
    background-color: #fff;
    color: #002366;
    font-size: 1.3rem;
    font-weight: 500;
}

.subcription .subcription-img {
    align-self: flex-end;
}

/* ============ Footer ============ */
.footer {
    margin-top: 55px;
    padding: 50px 0 58px;
}

.footer-1 {
    display: flex;
    gap: 185px;
}

.footer-1 .heading {
    color: #1c1c1d;
    font-size: 20px;
    font-weight: 700;
}

.footer-1 .list {
    margin-top: 42px;
}

.footer-1 .item {
    color: #7a7a7e;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
    text-wrap: nowrap;
}

.footer-1 li:last-child .list .item {
    text-wrap: wrap;
}

.footer-1 .item:not(:first-child) {
    margin-top: 18px;
}

.footer-1 .social {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 14px;
}

.footer-1 .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    background-color: #f9f9f9;
    border-radius: 6px;
}

.footer-2 {
    margin-top: 81px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-2 .copyright {
    color: #c2c2c2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
}
